node_modules
dist
build
coverage
.next
out

# Firebase
.firebase
firebase-debug.log
ui-debug.log

# Flutter / Dart build stuff
.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
build/

# Platforms
android/
ios/
macos/
windows/
linux/
